<div>
    <header id="header" class="fixed-top">
        <div class="container">
            <nav class="navbar white-menu navbar navbar-dark navbar-expand-lg">
                <a class="navbar-brand" href="#hero"><img src="./images/daqeeq-Logo.png" width="80%"/> </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#whatwedo">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#story">Cases</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contactus">Contact us</a>
                        </li>
                    </ul>
                    <span class="navbar-text color-white d-none d-md-block">
                        +44 7731 376304
                    </span>
                </div>
            </nav>
        </div>
    </header>
</div>